@import '../../../theme/app.global.scss';

.filters-container-panel {
	//display: none;

	.filters-container {
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 2em;
		padding-bottom: 4em;

		.mat-form-field {
			width: 100%;
		}

		.filter-status-toggle {
			display:flex;
			flex-direction:column;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}
}


table {
	font-family: $font_family;

	thead{
		th {
			font-size: .8em;
			font-weight: bold;
			font-family: $font_family;
		}
	}
}
