
	<section class="page_404">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-center">

						<div class="four_zero_four_bg">
							<!--
							<h1 class="text-center ">Thank You</h1>
							-->
						</div>

						<div class="contant_box_404">
							<h3 class="h2">
								Registration Complete
							</h3>

							<p>We're looking forward to seeing you at this year's conference.</p>

							<a routerLink="/" class="link_404">
								<span>Go Home</span>
							</a>

						</div>

				</div>
			</div>
		</div>
	</section>
